services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: lms_app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - lms_network
    depends_on:
      - db
      - redis

  webserver:
    image: nginx:alpine
    container_name: lms_nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - lms_network
    depends_on:
      - app

  # Database (MySQL)
  db:
    image: mysql:8.0
    container_name: lms_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - lms_network

  redis:
    image: redis:alpine
    container_name: lms_redis
    restart: unless-stopped
    networks:
      - lms_network

networks:
  lms_network:
    driver: bridge

volumes:
  dbdata:
