includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - routes/

    level: 3

    ignoreErrors:
        # Abaikan error umum yang aman
        #- '#Unsafe usage of new static#'

    excludePaths:
        #- ./*/*/FileToBeExcluded.php
