* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e8f5e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main_container {
    display: flex;
    flex-direction: row;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 1000px;
}

form {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
}

.container_A{
    width: 50%;
    margin-right: 10px;
}

.container_C {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container_C h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.container_C input[type="text"],
.container_C input[type="password"] {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.signup_button {
  background: linear-gradient(135deg, #66bb6a, #43a047);
  border: none;
  color: white;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.signup_button:hover {
  background: linear-gradient(135deg, #5aa85f, #388e3c);
}

.terms {
    font-size: 12px;
    color: #333;
    text-align: center;
}

.terms a {
    color: #007bff;
    text-decoration: none;
}

.extra_links {
    font-size: 14px;
    text-align: center;
}

.extra_links a {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.container_B {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 10px;
}

.container_B img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.container_B input {
  display: none;
}

.container_B label {
  margin-top: 30px;
  padding: 10px;
  justify-content: center;
  background: linear-gradient(135deg, #66bb6a, #43a047);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
}

.container_B label:hover {
  background: linear-gradient(135deg, #5aa85f, #388e3c);
}