* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #3b5671;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main_container {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login_form h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.login_form input[type="text"],
.login_form input[type="password"] {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

h2 {
    display: none;
    font-family: 'Arial', sans-serif;
    color: #fc3c2b;
    font-size: 15px;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 5%;
    opacity: 1;
}

.remember {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.login_button {
  background: #3498DB;
  border: none;
  color: white;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.login_button:hover {
  background: #3ea4e7;
}

.terms {
    font-size: 12px;
    color: #333;
    text-align: center;
}

.terms a {
    color: #007bff;
    text-decoration: none;
}

.extra_links {
    font-size: 14px;
    text-align: center;
}

.extra_links a {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
